body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(186, 240, 228);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#table {
  border: 1px solid rgb(12, 11, 11);
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
}
#heading {
  /* font-style: italic; */
  margin-top: 0px;
  height: 70px;
  font-weight: bold;
  text-align: center;
  background-color: rgb(11, 165, 165);
}
.search-bar {
  margin: 20px;
  width: 30%;
  text-align: center;
}
#track {
  text-align: left;
  font-style: italic;
}

.form {
  margin-left: 10px;
}

#mytable {
  margin: 10px;
  border-collapse: collapse;
  width: 90%;
}
.rows {
  border: 1px solid black;
  background-color: aquamarine;
}
#btn {
  background-color: aquamarine;
  cursor: pointer;
}

th, td {
  border: 1px solid black;
  padding: 9px;
  text-align: left;
}